body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

#container{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
}

.box{
    /* border: 1px solid black; */
    padding: 10px;
}

.box:nth-child(odd) {
    background-color: #efefef;
    color: white;
}

.box:nth-child(even) {
    background-color: white;
}

#Home{
    height: 50vh;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
    /* flex-wrap: wrap; */

    /* justify-content: space-between; */
}

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 12px;
}

.menu-options{
    margin: 0px 15px 15px 0px;
    font-weight: 100;
    font-size: 0.9rem;
    transition: color 0.5s, border-bottom 2s;
    border-bottom: 0.8px solid transparent;
    transition-timing-function: linear;
    cursor: pointer;
}

.menu-options:hover{
    color: lightgray;
    border-bottom: 0.8px solid lightgray;
}

#links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name{
    margin-top: 10vh;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#social-media{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px 10px 0px;
}

#social-media div i{
    padding: 5px;
    margin: 10px;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
}

#social-media div i:hover{
    box-shadow: 0px 0px 6px 10px rgba(230, 196, 196, 0.3);
}

/* About me section */

#about-me{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    height: auto;
}

#dp{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -12vh;
}

#dp img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}

#about-me-para{
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

/*  Skills Section*/

#skills-heading{
    color: #2857a4;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 8vh;
    font-weight: lighter;
    margin-bottom: 15vh;
}

#skills-heading span{
    margin-left: 1.5vw;
}

#skills-listing{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    margin: 0 auto;
    margin-bottom: 5vh;
}

.skill-box{
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
    position: relative;
}

.skill-name{
    font-size: 1.2rem;
    margin-left: 10px;
    bottom: 20%;
    position: absolute;
}

#skill1>div{
    width: 80%;
    height: 100%;
    background-color: red;
    box-shadow: 0px 1px 1px 2px grey;
}

#skill2>div{
    width: 80%;
    height: 100%;
    background-color: blue;
    box-shadow: 0px 1px 1px 2px grey;
}

#skill3>div{
    width: 80%;
    height: 100%;
    background-color: orange;
    /* border: 1px solid black; */
    box-shadow: 0px 1px 1px 2px grey;
}

#skill4>div{
    width: 60%;
    height: 100%;
    background-color: yellowgreen;
    /* border: 1px solid black; */
    box-shadow: 0px 1px 1px 2px grey;
}

#skill5>div{
    width: 70%;
    height: 100%;
    background-color: purple;
    /* border: 1px solid black; */
    box-shadow: 0px 1px 1px 2px grey;
}

#skill6>div{
    width: 60%;
    height: 100%;
    background-color: darkcyan;
    /* border: 1px solid black; */
    box-shadow: 0px 1px 1px 2px grey;
}

#skill7>div{
    width: 50%;
    height: 100%;
    background-color: darkorange;
    /* border: 1px solid black; */
    box-shadow: 0px 1px 1px 2px grey;
}

/* Work Experience Section */

#work-heading{
    color: #2857a4;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 8vh;
    font-weight: lighter;
    margin-bottom: 15vh;
}

#work-heading span{
    margin-left: 1.5vw;
}

#work-exp{
    position: relative;
    margin-bottom: 15vh;
    /* border: 1px solid black; */
    padding: 5px;
    width: 85%;
    margin: 0 auto;
}

.exp-box{
    position: relative;
    /* border: 1px solid black; */
    min-height: 150px;
    width: 40%;
    padding: 5px;
    text-align: right;
}

/* .exp-box::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
} */

.exp-box:nth-child(odd)::after{
    right: -24%;
}

.exp-box:nth-child(even)::after{
    left: -10%;
}
.exp-box:nth-child(even) {
    /* background-color: green; */
    left: 55%;
    /* width: 44%; */
}

.company-logo{
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.company-logo> img{
    /* position: absolute; */
    width: 100%;
}

.experience-designation {
    font-size: 1.4rem;
    color: black;
}

.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}

.text-align-justify {
    text-align: justify;
}


#timeline{
    height: 66%;
    border-right: 1px dotted gray;
    position: absolute;
    top: 10%;
    left: 50%;
}

.traveller{
    position: sticky;
    top: 135px;
    z-index: 2;
    left: 48%;
}

.traveller i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: black;
    position: absolute;
    left: -12px;
    /* color: #2857a4; */
}

.m0 {
    margin: 0;
}

/* Portfolio Section */
#portfolio-heading{
    color: #2857a4;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 8vh;
    font-weight: lighter;
    margin-bottom: 15vh;
}

#portfolio-heading span{
    margin-left: 1.5vw;
}

#portfolio-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-project{
    max-width: 350px;
    margin: 1px solid black;
    position: relative;
    color: transparent;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio-project img{
    height: 100%;
    width: 100%;
}

.project-details{
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    text-align: center;
    height: 100%;
    padding: 10px;
}

.portfolio-project:hover{
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-project:hover .project-details{
    background-color: #80808078;
    color: white;
}

/* Contact Section */

#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact-info{
    display: flex;
}

#contact-heading{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 8vh;
    font-weight: lighter;
    margin-bottom: 10vh;
}

#contact-form-container{
    width: 50%;
    margin-left: 7%;
    margin-top: 0;
    overflow: none;
}

#contact-form-name{
    background-color: transparent;
    color: lightgray;
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    font-size: 1rem;
    padding: 10px;
}

#contact-form-email{
    background-color: transparent;
    color: lightgray;
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    font-size: 1rem;
    margin-top: 30px;
    padding: 10px;
}

#contact-form-message{
    background-color: transparent;
    color: lightgray;
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    font-size: 1rem;
    margin-top: 30px;
    padding: 10px;
    max-width: 100%;
}

.sub-btn{
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 10%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

.sub-btn:hover{
    color: #13386fe0;;
    background-color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
    margin-top: -2px;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}


#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}

.social-media-icons{
    justify-content: center;
}

#copyright-message{
    font-size: 0.7rem;
    text-align: center;
}

.mb-blue{
    color: #2857a4;
}

.goldman-color{
    color: #64a9f1;
}

.oyo-color{
    color: #ee2a24;
}